/*------------------------estilos de login -------------------------------------------------*/
body {
  background-color: #2F7D6C;
  font-family: Arial, sans-serif;
  border: #000000;
  border-radius: 2%;
  margin: 0px;
}

.contenedor1 {
  background: #fff;
  border-radius: 1%;
  padding: 1px;
  width: auto;
}

.contenedor2 {
  border-radius: 5%;
  background-color: #fff;
  max-width: 500px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #2F7D6C;
  font-size: 30px;
  margin-bottom: 30px;
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}

form {
  opacity: 1;
  transform: translate(0, 0);
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.btn-menu {
  background-color: #2F7D6C;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-menu:active {
  background: rgb(199, 2, 51);
  color: white;
}

.btn-menu:hover {
  background-color: darkgreen;
  color: #fff;
}

.barracontacto {
  color: black;
  padding: auto;
}

.footer {
  font-size: 10px;
  background: #999;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: auto;
  border-radius: 2%;
}

/*------------------------estilos del formulario de reporte -------------------------------------------------*/

/*------------------------estilos de la tabla de reporte de excel -------------------------------------------------*/
.tabla {
  background: #fff;
  border-radius: 1%;
  padding: 10px;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para los bordes de la tabla */
th,
td {
  border-bottom: 1px solid #000000;
}

tr:nth-child(even) {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}


/*-----------------estilos de l ventana emergente*/
.window-notice {
  background: rgba(33, 41, 52, .85);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  z-index: 999;
}

.window-notice .content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}

button {
  font-family: inherit;
  font-size: 20px;
  background: #2F7D6C;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
          animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
      -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
          transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  -webkit-transform: translateX(5em);
      -ms-transform: translateX(5em);
          transform: translateX(5em);
}

button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

@-webkit-keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
            transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
            transform: translateY(-0.1em);
  }
}

@keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
            transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
            transform: translateY(-0.1em);
  }
}



 